/* Universal CSS Selectors */

:root {

    --dark-grey: #1A1A1D;
    --light-grey: #4E4E50;

    --bright-pink: #C3073F;
    --red-pink: #950740;
    --muted-pink: #6F2232;

}

body{
    margin: 0;
    padding: 0;
    background-color: var(--dark-grey);
}

.btn {
    background-color: var(--bright-pink);
}

.btn:hover {
    background-color: var(--muted-pink);
}

.main-col {
    height: 100vh;
}

/* Nav Bar CSS Selectors */

nav {
    background-color: var(--bright-pink);
}

/* Left Side Col CSS Selectors */

.left-side-col{
    background-color: var(--light-grey);
}

.btn-group button {
    display: block; /* Make the buttons appear below each other */
    margin: 5px;
}
  
  .btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}


/* Right Side Col CSS Selectors */

.right-side-col{
    color: white;
}